.accordion {
  --bs-accordion-border-width: 0px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--dark-color);
  background-color: var(--light-color);
  box-shadow: none;
}

.custom-control-label {
  margin-left: 10px;
}