<app-page-header></app-page-header>
<app-breadcrumb></app-breadcrumb>
<div class="page-content">
  <div class="categories-page">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="banner banner-cat banner-badge">
              <a href="#">
                <img src="assets/images/category/boxed/banner-1.jpg" alt="Banner">
              </a>

              <a class="banner-link" href="#">
                <h3 class="banner-title">Dresses</h3>
                <h4 class="banner-subtitle">3 Products</h4>
                <span class="banner-link-text">Shop Now</span>
              </a>
            </div>

            <div class="banner banner-cat banner-badge">
              <a href="#">
                <img src="assets/images/category/boxed/banner-2.jpg" alt="Banner">
              </a>

              <a class="banner-link" href="#">
                <h3 class="banner-title">Jackets</h3>
                <h4 class="banner-subtitle">2 Products</h4>
                <span class="banner-link-text">Shop Now</span>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a href="#">
                    <img src="assets/images/category/boxed/banner-3.jpg" alt="Banner">
                  </a>

                  <a class="banner-link" href="#">
                    <h3 class="banner-title">T-shirts</h3>
                    <h4 class="banner-subtitle">0 Products</h4>
                    <span class="banner-link-text">Shop Now</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="banner banner-cat banner-badge">
                  <a href="#">
                    <img src="assets/images/category/boxed/banner-4.jpg" alt="Banner">
                  </a>

                  <a class="banner-link" href="#">
                    <h3 class="banner-title">Jeans</h3>
                    <h4 class="banner-subtitle">1 Products</h4>
                    <span class="banner-link-text">Shop Now</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="banner banner-cat banner-badge">
              <a href="#">
                <img src="assets/images/category/boxed/banner-5.jpg" alt="Banner">
              </a>

              <a class="banner-link" href="#">
                <h3 class="banner-title">Bags</h3>
                <h4 class="banner-subtitle">4 Products</h4>
                <span class="banner-link-text">Shop Now</span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="banner banner-cat banner-badge">
              <a href="#">
                <img src="assets/images/category/boxed/banner-6.jpg" alt="Banner">
              </a>

              <a class="banner-link" href="#">
                <h3 class="banner-title">Sportwear</h3>
                <h4 class="banner-subtitle">0 Products</h4>
                <span class="banner-link-text">Shop Now</span>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 order-md-last">
            <div class="banner banner-cat banner-badge">
              <a href="#">
                <img src="assets/images/category/boxed/banner-8.jpg" alt="Banner">
              </a>

              <a class="banner-link" href="#">
                <h3 class="banner-title">Jumpers</h3>
                <h4 class="banner-subtitle">1 Products</h4>
                <span class="banner-link-text">Shop Now</span>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="banner banner-cat banner-badge">
              <a href="#">
                <img src="assets/images/category/boxed/banner-7.jpg" alt="Banner">
              </a>

              <a class="banner-link" href="#">
                <h3 class="banner-title">Shoes</h3>
                <h4 class="banner-subtitle">2 Products</h4>
                <span class="banner-link-text">Shop Now</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

