<section class="blogs">
    <div class="container-fluid  p-5">
        <h1 class="text-center heading">
        <span>latest blog</span>
        </h1>
        <div class="row ">
            <div class="col-md-4">
                <img src="../../../assets/img/Home/make1.jpeg" alt="blogs1">
                <h5>
                <a >Nulla pharetra suscipit placerat</a>
                  </h5>
                  <div class="comtime">
                    <span class="bcmt">2 Comments </span> 
                  <span class="sep">|</span>
                    <time datetime="2019-01-21">
                      <span class="date">
                        21, January 2019 
                      </span>
                    </time>        
                </div>
                  <p>Nunc vehicula, est nec viverra vehicula, ex turpis eleifend est, suscipit suscipit lorem mi ...</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/img/Home/make2.jpeg" alt="blogs1">
                <h5>
                <a >Aliquam tempor dolor nec nisl tempor imperdiet</a>
                  </h5>
                  <div class="comtime">
                    <span class="bcmt">0 Comments </span> 
                  <span class="sep">|</span>
                    <time datetime="2019-01-21">
                      <span class="date">
                        21, January 2019 
                      </span>
                    </time>        
                </div>
                  <p>Aliquam ac risus placerat, dapibus tortor ut, scelerisque tortor. Nulla imperdiet est quam, ...</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/img/Home/make3.jpeg" alt="blogs1">
                <h5>
                <a >Morbi imperdiet nisl vel auctor auctor</a>
                  </h5>
                  <div class="comtime">
                    <span class="bcmt">0 Comments </span> 
                  <span class="sep">|</span>
                    <time datetime="2019-01-21">
                      <span class="date">
                        21, January 2019 
                      </span>
                    </time>        
                </div>
                  <p>Duis ut dapibus sapien. Phasellus ut metus vitae nisi accumsan volutpat vel sit amet eros. C...</p>
            </div>
        </div>
    </div>

</section>

