<div class="accordion border-bottom" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold" style="font-size: var(--small-font);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrand" aria-expanded="true" aria-controls="collapseBrand">
        Brand
      </button>
    </h2>
    <div id="collapseBrand" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        @for (item of brand; track $index) {
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="cat-1">
            <label class="custom-control-label text-capitalize" style="font-size: var(--small-font);" for="cat-1">{{item.name}}</label>
          </div>
        }
      </div>
    </div>
  </div>
</div>
<!--

          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="cat-1">
          <label class="custom-control-label text-capitalize" style="font-size: var(--small-font);" for="cat-1">nyx</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="cat-1">
          <label class="custom-control-label text-capitalize" style="font-size: var(--small-font);" for="cat-1">nyx</label>
        </div>
 -->