:root {
  --main-color: #e88eba;
  --light-color: #fff;
  --dark-color: #000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  flex: 1;
}

.logo {
  flex: 1;
  text-align: center;
}

.icon a:hover {
  color: var(--main-color);
}

form {
  border-bottom: 2px solid #000;
}

form input {
  border: none;
}

form input:focus {
  border: none;
  box-shadow: none;
}

.smaller-form {
  width: 250px;
}

.form-control {
  background-color: transparent;
}


@media (max-width: 992px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .smaller-form {
    width: 400px;
  }
}
