<div class="accordion border-bottom" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice">
        Price Range
      </button>
    </h2>
    <div id="collapsePrice" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="cat-1">
          <label class="custom-control-label text-capitalize" for="cat-1">0.00</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="cat-1">
          <label class="custom-control-label text-capitalize" for="cat-1">0.00</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="cat-1">
          <label class="custom-control-label text-capitalize" for="cat-1">0.00</label>
        </div>
      </div>
    </div>
  </div>
</div>
