<section class="products">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center heading mb-5 mt-5">
          <span>SPECIAL</span>
        </h1>
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngIf="productGroups.length > 0; else noProducts">
              <div *ngFor="let group of productGroups; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <div class="row">
                  <div class="col-md-3" *ngFor="let product of group">
                    <a [routerLink]="['/product', product.id]"><img [src]="product.image_link" class="w-100" /></a>
                    <h5><a [routerLink]="['/product', product.id]" class="grid-link__title">{{ product.name }}</a></h5>
                    <div class="product_price">${{ product.price }}</div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noProducts>
              <p>No products available</p>
            </ng-template>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
