<div class="header py-2">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-4 col-md-12  d-flex justify-content-center my-2">
        <div class="search ">
          <form class="d-flex smaller-form">
            <input class="form-control me-sm-2" type="text" placeholder="Search" />
            <i class="fa fa-search fs-3"></i>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-12  my-2">
        <div class="logo ">
          <img class="w-25" src="../../../assets/img/Home/guzel .png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-12  my-2">
        <div class="icons  d-flex justify-content-center">
          <div class="icon px-4">
            <a href="#">
              <i class="fa fa-heart fs-4 text-dark"></i>
            </a>
          </div>
          <div class="icon px-4">
            <a href="#">
              <i class="fa fa-cart-shopping fs-4 text-dark"></i>
            </a>
          </div>
          <div class="icon px-4">
            <a href="#">
              <i class="fa fa-user fs-4 text-dark"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
