<!-- <p>No orders to view</p> -->

<div class="container">
  <table class="table p-0">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle w-50">
          <img
            src="../../../assets/img/Shop/Blushers/open-uri20171224-4-11ndp61.jpeg"
            class="d-inline"
            alt="product"
          />
          <p class="d-inline">Beige knitted elastic</p>
        </td>
        <td class="align-middle">$40</td>
        <td class="align-middle">
          <div class="row">
            <div class="col-sm-12">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </td>
        <td>
          <textarea name="review w-100"> </textarea>
     
        </td>
        <td class="align-middle ">
            <button class="btn">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
