<section class="desc text-start">
    <h4>
        Reviews (2)
    </h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <p class="name"> Samanta Janes :</p>
                <p class="date">6 days ago</p>

            </div>
            <div class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
             </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>

            </div>
            
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-2">
                <p class="name"> Samanta Janes :</p>
                <p class="date">6 days ago</p>

            </div>
            <div class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
             </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>

            </div>
            
        </div>
        <hr/>
    </div>
          
</section>
