.pink-arrow {

  /* color: #e88eba; */

  color: #000;
}

.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next {
  opacity: 1;

}

}
.heading{
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;

}

.card{
  transition: all 0.2s ease-in-out;
}

.card:hover{
  border: 1px var(--main-color) solid;
  color: var(--main-color)
}



