<div class="category my-5">
  <div class="container">
    <div class="main-header text-center">

      <h2 class="main-title my-5">
        <span class="fw-semibold">Categories</span>
      </h2>

      <h1 class="text-center heading mb-5 mt-5">
        <span>Categories</span>
        </h1>

    </div>
    <div class="row row-cols-5 d-none d-lg-flex gy-4">
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4  d-flex align-items-center" style="width: 18rem;">

      
          <img src="../../../assets/img/Home/blush-ff7992c3d7690d18a9b0224177cfbdedbc036497cf87c393ec01c6a2ef070258.svg"

            class="card-img-top w-25 " alt="...">
            <span class="card-title">Blusher</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">


<img src="../../../assets/img/Home/bronzer-2d423487eea3e4571229bd95689bb4eb4331f05740f3921ede7c7c765c7954b1.svg"

            class="card-img-top w-25 " alt="...">
            <span class="card-title">Bronzer</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">


          <img src="../../../assets/img/Home/mascara.png" class="card-img-top w-25 " alt="...">

          <span class="card-title">Mascara</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

          <img src="../../../assets/img/Home/eyebrow.png" class="card-img-top w-25 " alt="...">

          <span class="card-title">Eyebrow</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

          <img src="../../../assets/img/Home/eyeshadow.png" class="card-img-top w-25 " alt="...">
          <span class="card-title">Eyeshadow</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

         
          <img src="../../../assets/img/Home/eyeliner-de329b6d65d721a45190051af1153e23202df9eb1c393d1ac65972376ee42d50.svg"

            class="card-img-top w-25 " alt="...">
            <span class="card-title">Eyeliner</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

       
          <img src="../../../assets/img/Home/foundation-9985c8a404d4a19cf7a2985ed504958cadd9f71252a73c90b6a7178bf7075143.svg"

            class="card-img-top w-25 " alt="...">
            <span class="card-title">Foundation</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

        
          <img src="../../../assets/img/Home/lipstick-4531b48ee71839393857e24c8cbc4dede1f99d2284ef82a6eb0a2a4d03540a14.svg"

            class="card-img-top w-25" alt="...">
            <span class="card-title">Lipstick</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4  d-flex align-items-center" style="width: 18rem;">

          
          <img src="../../../assets/img/Home/lip_liner-3f40bb63957aa7d47e3a2d1356b9380aa093271e5d58f3518181fd427e388d93.svg"

            class="card-img-top w-25 " alt="...">
            <span class="card-title">Lip Liner</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <div class="card p-4  d-flex justify-content-center align-items-center" style="width: 18rem;">

       
          <img src="../../../assets/img/Home/nailpolish.png" class="card-img-top w-25 " alt="...">

          <span class="card-title">Nail Polish</span>
        </div>
      </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide d-lg-none" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4  d-flex align-items-center" style="width: 18rem;">

                
                <img src="../../../assets/img/Home/blush-ff7992c3d7690d18a9b0224177cfbdedbc036497cf87c393ec01c6a2ef070258.svg"

                  class="card-img-top w-25 " alt="...">
                  <span class="card-title">Blusher</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

                
                <img src="../../../assets/img/Home/bronzer-2d423487eea3e4571229bd95689bb4eb4331f05740f3921ede7c7c765c7954b1.svg"

                  class="card-img-top w-25 " alt="...">
                  <span class="card-title">Bronzer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

              
                <img src="../../../assets/img/Home/mascara.png" class="card-img-top w-25 " alt="...">

                <span class="card-title">Mascara</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

               <img src="../../../assets/img/Home/eyebrow.png" class="card-img-top w-25 " alt="...">

                <span class="card-title">Eyebrow</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

                
                <img src="../../../assets/img/Home/eyeshadow.png" class="card-img-top w-25 " alt="...">

                <span class="card-title">Eyeshadow</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

               
                  class="card-img-top w-25 " alt="...">
                  <span class="card-title">Eyeliner</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

                       <img src="../../../assets/img/Home/foundation-9985c8a404d4a19cf7a2985ed504958cadd9f71252a73c90b6a7178bf7075143.svg"

                  class="card-img-top w-25 " alt="...">
                  <span class="card-title">Foundation</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4 d-flex align-items-center" style="width: 18rem;">

              
                <img src="../../../assets/img/Home/lipstick-4531b48ee71839393857e24c8cbc4dede1f99d2284ef82a6eb0a2a4d03540a14.svg"

                  class="card-img-top w-25 " alt="...">
                  <span class="card-title">Lipstick</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4  d-flex align-items-center" style="width: 18rem;">

            
                <img src="../../../assets/img/Home/lip_liner-3f40bb63957aa7d47e3a2d1356b9380aa093271e5d58f3518181fd427e388d93.svg"

                  class="card-img-top w-25 " alt="...">
                  <span class="card-title">Lip Liner</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row gy-4">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="card p-4  d-flex justify-content-center align-items-center" style="width: 18rem;">

              
                <img src="../../../assets/img/Home/nailpolish.png" class="card-img-top w-25 " alt="...">

                <span class="card-title">Nail Polish</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <i class="fa fa-square-caret-left pink-arrow fs-1"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <i class="fa fa-square-caret-right pink-arrow fs-1"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>