<!-- <div class="tab-pane fade active show" id="tab-account">
  <form action="#">
    <div class="row">
      <div class="col-sm-6">
        <label for="fname" class="formstylebold">First Name *</label>
        <input id="fname" type="text" class="form-control" required="" />
      </div>
      <div class="col-sm-6">
        <label for="lname" class="formstylebold">Last Name *</label>
        <input id="lname" type="text" class="form-control" required="" />
      </div>
    </div>

    <label for="dname" class="formstylebold">Display Name *</label>
    <input id="dname" type="text" class="form-control" required="" />

    <label for="e-mail" class="formstylebold">Email address *</label>
    <input id="e-mail" type="email" class="form-control" required="" />
    
    
<label for="idphoto" class="formstylebold">ID Photo *</label>
<input id="idphoto" type="file" class="form-control" required="" accept="image/*" /> 

    <label for="cpass" class="formstylebold"
      >Current password
      <span>(leave blank to leave unchanged)</span>
    </label>
    <input id="cpass" type="password" class="form-control" />

    <label for="npass" class="formstylebold"
      >New password (leave blank to leave unchanged)</label
    >
    <input id="npass" type="password" class="form-control" />

    <label for="cnpass" class="formstylebold">Confirm new password</label>
    <input id="cnpass" type="password" class="form-control mb-2" />

    <button type="submit" class="btn btnstyle">
      <span>SAVE CHANGES</span>
      <i class="fa-solid fa-arrow-right-long"></i>
    </button>
  </form>
</div> -->
<form
  [formGroup]="profiledetailsForm"
  (ngSubmit)="onSubmit(profiledetailsForm)"
  class="p-5"
>


  <div class="form-group">
    <label for="DisplayName" class="mb-2">Display Name</label>
    <input
      type="text"
      id="DisplayName"
      class="form-control mb-2"
      formControlName="DisplayName"
      [(ngModel)]="user.displayName"
  
    />
  </div>

  <div class="form-group">
    <label for="UserName"class="mb-2">User Name</label>
    <input
      type="text"
      id="UserName"
      class="form-control mb-2"
      formControlName="UserName"
      [(ngModel)]="user.userName"
    />
  </div>

  <!-- <div class="form-group">
    <label for="Password"class="mb-2">Password</label>
    <input
      type="password"
      id="Password"
      class="form-control mb-2"
      formControlName="Password"
      value={{user.password}}
      [(ngModel)]="user.password"
      
    />
  </div>

  <div class="form-group">
    <label for="ConfirmPassword"class="mb-2">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      class="form-control mb-2"
      formControlName="confirmPassword"
      [(ngModel)]="user.confirmPassword"

      
    />
  </div> -->

  <div class="form-group">
    <label for="Emai;"class="mb-2">Email</label>
    <input
      type="email"
      id="email"
      class="form-control mb-2"
      formControlName="email"
      [(ngModel)]="user.email"
      
    />
  </div>

  <div class="form-group">
    <label for="Address"class="mb-2">Address</label>
    <input
      type="text"
      id="Address"
      class="form-control mb-2"
      formControlName="Address"
      [(ngModel)]="user.address"
    />
  </div>

  <div class="form-group">
    <label for="PhoneNumber"class="mb-2">Phone Number</label>
    <input
      type="tel"
      id="PhoneNumber"
      class="form-control mb-2"
      formControlName="PhoneNumber"
      [(ngModel)]="user.phoneNumber"
    />
  </div>
  <br />
  <button (click)="edit()" class="btn btnstyle">
    <span>SAVE CHANGES </span>
    <i class="fa-solid fa-arrow-right-long"></i>
  </button>
</form>
