<app-page-header></app-page-header>
<app-breadcrumb></app-breadcrumb>
<div class="page-content mt-5">
  <div class="categories-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-1.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>

          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-2.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row g-3">
            <div class="col-sm-6">
              <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
                <a href="Single Product Page" class="overflow-hidden">
                  <img src="../../../assets/img/Category/banner-3.jpg" alt="Banner">
                  <div class="img-layer position-absolute"></div>
                </a>
                <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
                  <span>Category01</span>
                </a>
                <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
                  <span>Shop Now</span>
                </a>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
                <a href="Single Product Page" class="overflow-hidden">
                  <img src="../../../assets/img/Category/banner-4.jpg" alt="Banner">
                  <div class="img-layer position-absolute"></div>
                </a>
                <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
                  <span>Category01</span>
                </a>
                <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
                  <span>Shop Now</span>
                </a>
              </div>
            </div>
          </div>

          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-5.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-6.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 order-md-last">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-8.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-7.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-7.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center p-0">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-7.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>