<app-page-header></app-page-header>
<app-breadcrumb></app-breadcrumb>
<div class="page-content mt-5">
  <div class="categories-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-1.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-2.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-2.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-2.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-2.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-1.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-1.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row-category">
            <div class="row">
              <div class="col-sm-6">
                <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
                  <a href="Single Product Page" class="overflow-hidden">
                    <img src="../../../assets/img/Category/banner-3.jpg" alt="Banner">
                    <div class="img-layer position-absolute"></div>
                  </a>
                  <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
                    <span>Category01</span>
                  </a>
                  <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
                    <span>Shop Now</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
                  <a href="Single Product Page" class="overflow-hidden">
                    <img src="../../../assets/img/Category/banner-3.jpg" alt="Banner">
                    <div class="img-layer position-absolute"></div>
                  </a>
                  <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
                    <span>Category01</span>
                  </a>
                  <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
                    <span>Shop Now</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/banner-2.jpg" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Category01</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>