<app-page-header [PageName]="PageName"></app-page-header>
<app-breadcrumb [PageName]="PageName"></app-breadcrumb>
<div class="page-content">
  <div class="categories-page">
    <div class="container">
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col1/4.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Foundation</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>

          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col2/6.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Blusher</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col1/3.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Lipstick</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col2/2.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Eyeliner</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col1/1.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Lip Liner</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col2/4.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Eyeshadow</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col1/5.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Bronzer</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col2/3.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Mascara</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col1/2.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Nail Polish</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class=" banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden">
              <img src="../../../assets/img/Category/col2/5.png" alt="Banner">
              <div class="img-layer position-absolute"></div>
            </a>
            <a href="Shop To Products Like this Category" class="banner-title py-4 px-5 position-absolute text-center z-2">
              <span>Eyebrow Pencil</span>
            </a>
            <a href="Shop To Products Like this Category" class="banner-span py-4 px-5 position-absolute text-center z-2">
              <span>Shop Now</span>
            </a>
          </div>
          <div class="banner banner-cat banner-badge position-relative d-flex justify-content-center align-items-center">
            <a href="Single Product Page" class="overflow-hidden  border border-black">
              <img src="../../../assets/img/Category/col2/1.png" alt="Banner">
              <!-- <div class="img-layer position-absolute"></div> -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>