
<form action="#">

    <div>
        <label for="register-email-2" class="mb-2">Your email address *</label>
        <input type="email" class="form-control" id="register-email-2" name="register-email" required="">
    </div><!-- End .form-group -->

    <div >
        <label for="register-password-2" class="mb-2">Password *</label>
        <input type="password" class="form-control" id="register-password-2" name="register-password" required="">
    </div><!-- End .form-group -->



    <div class="form-footer d-flex flex-row mt-5">
        <div class="frm-input">
        <button type="submit" class="btn btn-login">
            <span>SIGN UP</span>
            <i class="icon-long-arrow-right"></i>
        </button>

    </div>

        <div class="frm-input">
        <div class="custom-control custom-checkbox rmbr">
            <input type="checkbox" class="custom-control-input " id="register-policy-2" required="">
            <label class="custom-control-label " for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
        </div><!-- End .custom-checkbox -->
    </div>

    </div><!-- End .form-footer -->


</form>