<!-- <app-page-header></app-page-header>
<app-breadcrumb></app-breadcrumb>
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <app-toolbox (sortChanged)="onSortChanged($event)"></app-toolbox>
        <app-product-section [products]="products"></app-product-section>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center align-items-center">
              <li class="page-item disabled pe-3">
                  <a class="page-link page-link-prev " href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true"><i class="fa fa-arrow-left pe-2"></i></span>Prev
                  </a>
              </li>
              <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item-total ">of 6</li>
              <li class="page-item ps-3">
                  <a class="page-link page-link-next " href="#" aria-label="Next">
                      Next <span aria-hidden="true"><i class="ps-2 fa fa-arrow-right"></i></span>
                  </a>
              </li>
          </ul>
      </nav>
      </div>
      <aside class="col-lg-3 order-lg-first">
        <div class="sidebar sidebar-shop">
          <div class="filter d-flex justify-content-between border-bottom mb-2 px-3">
            <label class="" style="font-size: var(--small-font);">Filters:</label>
            <a href="Clear all checked" class="clear" style="font-size: var(--small-font);">Clean All</a>
          </div>
          <app-category-section></app-category-section>
          <app-brand-section></app-brand-section>
        </div>
      </aside>
    </div>
  </div>
</div>
 -->
