

<section class="products">
    <div class="container-fluid ">
      <div class="row">
        <div class="col">
          <h1 class="text-center heading mb-5 mt-5">
            <span>You May Also Like</span>
          </h1>
          <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product1.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product1.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product1.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product1.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                </div>
              </div>
            
              <div class="carousel-item">
                <div class="row">
                  
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product2.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product2.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                 
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product2.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                 
                  <div class="col-md-3">
                    <img src="../../../assets/img/Home/product2.jpeg" class="w-100"/>
                    <h5><a href="" class="grid-link__title">Product Name</a></h5>
                    <div class="product_price">$5.67</div>
                  </div>
                 
                 
                </div>
              </div>
             
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  