
<app-page-header  [pagename]="Pagename">

</app-page-header>
<app-breadcrumb></app-breadcrumb>
<div class="container form-container">


 <div class="tab-pane fade active show" id="tab-account">
 <form action="#">
   <div class="row">
     <div class="col-sm-6">
       <label for="fname"  class="formstylebold">Name *</label>
       <input id="fname"  type="text" class="form-control" required="" />
     </div>
     <!-- End .col-sm-6 -->

     <div class="col-sm-6">
       <label for="lname" class="formstylebold">Brand *</label>
       <input id="lname" type="text" class="form-control" required="" />
     </div>
    
   </div>
  
   <div >

    <label for="category" class="formstylebold">category *</label>
        <select class=" category form-select form-select-lg form-control" >
            <option class="form-control">Select Category</option>
            <option  class="form-control">Select Category</option>
            <option  class="form-control">Select Category</option>
            <option  class="form-control">Select Category</option>
        </select>
    </div>
<div class="row">


 
     
    
<div class="col-6">

    <label for="dname" class="formstylebold">Price *</label>
    <input id="dname" type="text" class="form-control" required="" />
</div>

</div>
  

   <div class="row">
    <div class="col-sm-6">
        <label class="formstylebold">Number Of Colors</label>
        <input id="number-of-colors" class="form-control" name="numOfColors" [(ngModel)]="numOfColors" (change)="generateInputs('color')" required />
    
        <div class="form-group mt-3" *ngFor="let color of colorInputs; let i = index">
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Enter color {{ i + 1 }}" [(ngModel)]="colorInputs[i]" name="color{{i}}">
                <div class="input-group-append">
                    <button type="button" class="btn btnstyle" (click)="removeInput(i,'color')">Remove</button>
                </div>
            </div>
        </div> <!-- Close the div for Number Of Colors section -->
    </div> <!-- Close the div for the first column -->
    
    <div class="col-sm-6">
        <label class="formstylebold">Number Of Tags</label>
        <input id="number-of-tags" class="form-control" name="numOfTags" [(ngModel)]="numOfTags" (change)="generateInputs('tag')" required />
    
        <div class="form-group mt-3" *ngFor="let Tag of TagsInput; let i = index">
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Enter Tag {{ i + 1 }}" [(ngModel)]="TagsInput[i]" name="Tag{{i}}">
                <div class="input-group-append">
                    <button type="button" class="btn  btnstyle" (click)="removeInput(i,'Tag')">Remove</button>
                </div>
            </div>
        </div> <!-- Close the div for Number Of Tags section -->
    </div> <!-- Close the div for the second column -->
   </div>
    

        <label for="Description" class="formstylebold">Description</label>
        <input id="Description" type="text" class="form-control" />
    
 
        <label for="numOfProductInStock" class="formstylebold">Number of Products in Stock *</label>
        <input id="dname" type="text" class="form-control" required="" />
 

        <div class="mb-3">
            <label for="formFile" class="formstylebold">Add Product Image</label>
            <input class="form-control" type="file" id="formFile" accept="image/*" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        </div>

   <button type="submit" class="btn btnstyle">
     <span >Add Product</span>
     <i class="fa-solid fa-arrow-right-long"></i>
   </button>
 </form>
 </div>
</div>
