
    <div class="greyBack p-4 lh-lg">
        <h3>Cart Total</h3>
        <hr/>
        <h5 class="fw-bold d-inline">Sub Total : </h5> <span> $84</span>
        <hr/>
        <h5 class="fw-bold d-inline">Shipping : </h5> 
        <br>
        <p class="d-inline">Free Shipping : </p><span> $0</span>
        <br/>
        <h5 class="fw-bold  lh-lg">Estimate for Your Country</h5>
    
        <a href=""> Change Address</a>
        <hr/>
        <h5 class="fw-bold d-inline total"> Total : </h5> <span> $84</span>
        <br>

        <button (click)="goToOrder()" class="btn w-100">PROCEED TO CHECKOUT</button>
    </div>
