.form-control{
    border-radius: 0%;
    height: 5vh;
    background-color: var(--shadow);
    margin-bottom: 3%;

}

.frm-input{
    
    width: 30%;
    height: 10vh;
}
.btn-login{
    border-radius: 0%;
    width: 100%;
    height: 50%;
    color:var(--main-color);
    border-color:var(  --main-color) ;
}

.btn-login:hover{

    color:white;
    background-color: var(--main-color);

}

.rmbr-me{
   width: 50%;
height: 10vh ;
}
.rmbr{
    width: 70%;
    display: flex;
  align-items: center;
  justify-content: center;
}

.rmbr-me a{
color: black;
    text-align: center;
}
.err-txt{

    color:rgba(176, 94, 0, 0.684);
    
    text-decoration: underline;
    height: 5vh;
     }