<form action="#">

    <div >
        <label for="singin-email-2" class="mb-2">Username or email address *</label>
        <input type="text" class="form-control" id="singin-email-2" name="singin-email" required="">
    </div><!-- End .form-group -->

    <div >
        <label for="singin-password-2" class="mb-2">Password *</label>
        <input type="password" class="form-control" id="singin-password-2" name="singin-password" required="">
    </div><!-- End .form-group -->

    <div class="form-footer d-flex flex-row mt-5">
        <div class="frm-input">
        <button type="submit" class="btn btn-login">
            <span>LOG IN</span>
            <i class="icon-long-arrow-right"></i>
        </button>
    </div>
    <div class="frm-input d-flex flex-row  rmbr">
        <div class="custom-control custom-checkbox mx-3  rmbr-me">
            <input type="checkbox" class="custom-control-input " id="signin-remember-2">
            <label class="custom-control-label mx-3 " for="signin-remember-2">Remember Me</label>
        </div><!-- End .custom-checkbox -->
    <div class="rmbr-me">
        <a href="#" class="forgot-link">Forgot Your Password?</a>
    </div>
    </div><!-- End .form-footer -->
</div>
</form>