.formstylebold {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .form-control:focus {
    border-color: var(--main-color); /* Change this to your desired color */
    box-shadow: 0 0 0 0.2rem var(--main-color); /* Change this to a lighter shade of your desired color */
  }
  .btnstyle{
  
    border: black;
    border-style:solid ;
    border-width: 1px;
    border-radius: 0%;
  }
  .btnstyle:hover{
    background-color: var(--main-color);
    border:none ;
   
  }
  .btnstyle:hover span,
  .btnstyle:hover i {
    color: white; /* Changed 'whiteq' to 'white' */
    
  }