<app-page-header [PageName]="Pagename">
</app-page-header>

<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Color</th>
        <th scope="col">Stock Status</th>
        <th scope="col">Quantity</th>
        <th scope="col">Remove</th>
        <th scope="col">Add To Cart</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList; let i = index">
        <th scope="row"><img src={{item.image_link}} class=" d-inline" alt="product">
          <p class="d-inline">Beige knitted elastic runner shoes</p>
        </th>
        <div class="product-nav product-nav-dots">
          <a *ngFor="let color of product.colors; let i = index"
[style.background]="color.hex_value"
(click)="getColor(i, $event)" ></a>
        </div>
        <td class="align-middle">${{item.price}}</td>
        <td class="align-middle">{{item.numOfProductInStock}}</td>
        <td class="align-middle">
          <div class="product-details-quantity">
            <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" (click)="decrement()">
                    <i class="fa fa-minus"></i>
                  </button>
                </span>
                <input type="text" id="qty" class="form-control input-number" value="1" min="1" max="10" step="1" data-decimals="0" required
                [(ngModel)]="cartItem.quantity">
                <span class="input-group-btn">

                  <button type="button" class="btn btn-default btn-number" (click)="increment()">
                    <i class="fa fa-plus"></i>
                  </button>
                </span>
              </div>

        </div>
        </td>

        <td class="align-middle">
          <button (click)="Delete(item)">
            <i class="fa-solid fa-trash"></i>
          </button>

        </td>
        <td class="align-middle"><i class="fa-solid fa-cart-plus"></i></td>
      </tr>


    </tbody>
  </table>
</div>