
<app-page-header  [PageName]="Pagename">
</app-page-header>

<div class="container mt-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Stock Status</th>
        <th scope="col">Remove</th>
        <th scope="col">Add To Cart</th>
        
       
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row"><img src="../../../assets/img/Shop/Blushers/open-uri20171224-4-11ndp61.jpeg" class=" d-inline" alt="product"><p class="d-inline">Beige knitted elastic runner shoes</p></th>
        <td class="align-middle">$40</td>
        <td class="align-middle">In Stock</td>

        <td class="align-middle"><i class="fa-solid fa-trash"></i></td>
        <td class="align-middle"><i class="fa-solid fa-cart-plus"></i></td>
      </tr>
     
      
    </tbody>
  </table>
</div>